<h1>Dashboard#index</h1>
<ul>
  <li>Usuários ativos: <%= @active_users %></li>
  <li>Gêneros: <%= @genres_count %> <%= link_to 'Listar Gêneros', genres_path %></li>
  <li>Artistas: <%= @artists_count %> <%= link_to 'Listar Artistas', artists_path %></li>
  <li>Álbuns: <%= @albums_count %> <%= link_to 'Listar Álbuns', albums_path %></li>
  <li>Músicas: <%= @songs_count %> <%= link_to 'Listar Músicas', songs_path %></li>
</ul>
